* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Dancing Script', cursive;
}

#motivos{

    height: 50vh;
    width: 80%;
    background-color: antiquewhite;
    border-radius: 50px;
    position: relative;
    top: 5%;
    margin-left: 10%;
    display: grid;
    grid-template-rows: 300px 1fr;
    

}

#m{
    display: grid;
    grid-row: 1fr 1fr;
}